<?xml version="1.0" encoding="UTF-8"?>
<ScmConfigurationDocument schemaVersion="1.0.0.0">
 <Features>
  <Feature id="DATALOGGER" enable="false"/>
  <Feature id="ETHERNET IP" enable="false"/>
  <Feature id="PLCNEXT STORE" enable="false"/>
  <Feature id="PROFICLOUD" enable="false"/>
  <Feature id="PROFINET CONTROLLER" enable="false"/>
  <Feature id="PROFINET DEVICE" enable="false"/>
 </Features>
</ScmConfigurationDocument>
